<div class="flex flex-col w-full h-full p-4">
  <h1 class="text-3xl font-bold">Conductor (<%= @date.strftime('%B %d, %Y') %>)</h1>

  <div class="flex flex-row gap-6 mt-6">
    <%= link_to "Previous Day", daily_overview_path(id: (@date - 1).to_s), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% if @date != Date.today %>
      <%= link_to "Today", daily_overview_path(id: Date.today.to_s), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% end %>
    <%= link_to "Next Day", daily_overview_path(id: (@date + 1).to_s), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 my-6">
    <div>
      <h2 class="text-xl font-bold mb-2">To-dos</h2>
      <%= render "todo_list" %>
    </div>

    <div>
      <h2 class="text-xl font-bold mb-2">Habits</h2>
      <%= render "habit_tracker" %>
    </div>
  </div>

  <div class="flex flex-col w-full">
    <h2 class="text-xl font-bold mb-2">Notes</h2>
    <%= render "notes" %>
  </div>
</div>
